<h1>글쓰기</h1>
<form action="/create">
  제목 : <input type="text" name="title" placeholder="제목입력"><br>
  내용 :
  <textarea name="content" placeholder="내용입력"></textarea><br>

  <input type="submit" value="글쓰기">
</form>
